@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  margin: 0;
  padding: 2em 0em;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event {
  width: 90%;
  height: auto;
  display: flex;
}
.left {
  width: 50%;
}
.left p {
  font-size: 14px;
}
.right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  width: 600px;
  height: 300px;
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
}
.box::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 300px;
  background: linear-gradient(90deg, transparent, transparent, #dc43f0);
  animation: animate 3s linear infinite;
  transform-origin: bottom right;
}
.box::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 400px;
  background: linear-gradient(90deg, transparent, transparent, #f0a843);
  animation: animate 3s linear infinite;
  transform-origin: bottom right;
  animation-delay: -6s;
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #5c5952;
  z-index: 10;
  display: flex;
  align-items: center;
  height: auto;
}
.form img {
  border-radius: 10px 0px 0px 10px;
  width: 295px;
  text-align: center;
}
.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.form__description {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  padding: 0px 1rem;
  font-size: 12px;
}
.form__button {
  background-color: #d08f33;
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.form__button i {
  font-size: 1.5rem;
  transition: 0.3s;
}
.form__button:hover {
  background-color: #d1b12f;
}
.form__button:hover i {
  transform: translateX(5px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 980px) {
  .form img {
    width: 215px;
  }
  .box,
  .box::after,
  .box::before {
    height: 220px;
  }
  .left {
    padding: 10px;
  }
  .left p {
    font-size: 12px;
  }
  .form__description {
    font-size: 9px;
  }
  .form__button {
    font-size: 12px;
    padding: 3px 10px;
  }
  .form__title {
    margin-top: -0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .event {
    flex-direction: column;
  }
  .box {
    margin-right: 0;
  }
  .left {
    padding: 0;
  }
  .right {
    margin-top: 30px;
  }
  .left,
  .right {
    width: 100%;
  }
  .form img {
    width: 395px;
    border-radius: 10px 10px 0 0;
  }
  .box,
  .box::after,
  .box::before {
    width: 400px;
    height: 590px;
  }
  .form {
    flex-direction: column;
  }
  .form__title {
    margin-top: 15px;
  }
}
@media screen and (max-width: 576px) {
  .form img {
    width: 345px;
    border-radius: 10px 10px 0 0;
  }
  .box,
  .box::after,
  .box::before {
    width: 350px;
    height: 570px;
  }
}
