.eventpage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventpage__container {
  width: 70%;
  padding: 3em 0em;
  display: flex;
}
.left__section {
  width: 65%;
}
.eventpage__description {
  margin-top: 30px;
}
.eventpage__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventpage__image img {
  width: 400px;
  padding: 0 15px;
}
.eventpage__description-title {
  width: auto;
  border-left: 3px solid #fff;
  padding-left: 10px;
}
.eventpage__description-caption p {
  color: #c0c0c0;
}
/* =========== Right Section =============== */
.right__section {
  width: 35%;
  padding: 0em 1em;
}
.rightsection__atas {
  border: 1px solid #676767;
  padding: 0px 30px;
  border-radius: 10px;
}
.schedule__event p,
.schedule__event i {
  font-size: 12px;
}
.schedule__event i {
  padding-right: 10px;
}
.date__event,
.time__event,
.location__event {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.organizer__event {
  margin-top: 10px;
  margin-bottom: 10px;
}
.organizer__event-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.organizer__event-logo img {
  width: 30px;
  height: 30px;
}
.organizer__event-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.organizer__event-caption h4 {
  margin-top: -10px;
}
.registration__event {
  margin-top: 30px;
  border: 1px solid #676767;
  border-radius: 10px;
  padding: 10px;
}
.ticket__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticket__logo i {
  font-size: 2.5rem;
  margin-right: 10px;
}
.ticket__logo p {
  font-size: 10px;
}
.htm__event {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.button__register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__register a {
  width: 100%;
  background-color: #d08f33;
  text-align: center;
  padding: 15px 0px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s;
}
.button__register a:hover {
  background-color: #d1b12f;
}

/* ======== Responsive ============= */

@media screen and (max-width: 980px) {
  .eventpage__container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .eventpage__container {
    flex-direction: column;
    width: 85%;
    padding: 0em 0em 3em 0em;
    margin-top: -2em;
  }
  .eventpage__description-title {
    padding: 0;
    border: none;
  }
  .eventpage__description-title h2 {
    font-size: 1.2rem;
  }
  .eventpage__description-caption p {
    font-size: 12px;
    margin-top: -10px;
  }
  .eventpage__description-caption h3 {
    margin-bottom: -15px;
  }
  .left__section {
    width: 100%;
    margin-bottom: 50px;
  }
  .right__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
