.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  color: darkgrey;
}
.right__section-title {
  font-size: 3rem;
  background: -webkit-linear-gradient(
    to right,
    rgb(94, 39, 202),
    rgb(232, 147, 20)
  );
  background: linear-gradient(to right, rgb(94, 39, 202), rgb(232, 147, 20));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right__section {
  width: 60%;
  height: auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left__section {
  width: 40%;
  height: 650px;
}
.button__join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width: 170px;
  padding: 10px 0px;
  background-color: rgb(232, 147, 20);
  border-radius: 25px 25px 25px 0px;
  color: white;
}
.button__icon {
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight: bold;
  /* color: rgb(94, 39, 202); */
}
.button__join:hover {
  cursor: pointer;
}
.right__section-description {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 20px;
}
.button {
  width: auto;
  height: auto;
  display: flex;
}
.button__scroll {
  text-align: center;
  font-weight: bold;
  border-radius: 25px 25px 0px 25px;
  color: rgb(233, 173, 83);
  margin-left: 10px;
  border: 1px solid rgb(80, 80, 79);
  margin-top: 30px;
  width: 170px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__scroll-desc {
  font-size: 1rem;
  padding-left: 15px;
}
.button__scroll-icon {
  color: rgb(233, 173, 83);
  font-size: 3rem;
  animation: icon infinite 0.8s ease;
}
@keyframes icon {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
  0% {
    transform: translateY(-3px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .community__image {
    width: 250px;
  }
  .left__section {
    /* position: relative; */
    width: 200px;
    height: 400px;
    order: 1;
    width: 100%;
  }
  .right__section {
    width: 100%;
    order: 2;
  }
  .right__section,
  .left__section {
    padding: 30px;
  }
  .right__section-title {
    font-size: 2.5rem;
  }
  .right__section-description {
    font-size: 0.8rem;
  }
  /* .button__join,
  .button__scroll-desc,
  .button__scroll-icon,
  .button__icon {
    font-size: 1rem;
  }
  .button__scroll,
  .button__join {
    padding: 15px 0px;
    width: 140px;
  } */
}
@media screen and (max-width: 576px) {
  .right__section,
  .left__section {
    padding: 30px;
    width: 100%;
  }
}
