.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  margin-bottom: 60px;
}
.footer,
.footer__first,
.footer__second {
  width: 100%;
  height: auto;
  color: darkgray;
}
.footer__container {
  width: 90%;
}
.footer__first {
  display: flex;
}
.footer__location {
  width: 30%;
}

.footer__contact {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__social {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__address,
.footer__phone,
.footer__email {
  display: flex;
  align-items: center;
}
.gmaps {
  border: none;
  border-radius: 10px;
}
.footer__contact i {
  font-size: 1.7rem;
  margin-right: 0.8em;
}
.footer__address-country {
  font-size: 12px;
}
.footer__address-city {
  margin-top: 5px;
}
.footer__social-media {
  margin-top: 1em;
}
.footer__social-media i {
  margin-right: 1em;
  font-size: 1.6rem;
}
.footer__social-media i:hover {
  color: rgb(206, 155, 18);
  cursor: pointer;
}
.footer__second {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 2em;
}
@media screen and (max-width: 960px) {
  .footer__location-title {
    font-size: 1rem;
  }
  .gmaps {
    width: 200px;
    height: 120px;
  }
  .footer__contact i {
    font-size: 1rem;
  }
  .footer__address-country {
    font-size: 9px;
  }
  .footer__address-city {
    margin-top: 0px;
  }
  .footer__address p,
  .footer__phone p,
  .footer__email a {
    font-size: 12px;
  }
  .footer__social-hmi {
    font-size: 1rem;
  }
  .footer__social-description {
    font-size: 12px;
    margin-top: 0;
  }
  .footer__second {
    font-size: 12px;
  }
  .footer__social-media {
    margin-top: 0;
  }
  .footer__social-media i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__first {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact,
  .footer__location,
  .footer__social {
    width: 100%;
    margin-top: 30px;
  }
  .footer__second {
    font-size: 9px;
  }
}
