html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  color: white;
  width: 100%;
  background: linear-gradient(to bottom, #191919, #212121);
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/* ======= HEADER ======= */
.navbar_container {
  width: 70%;
}
.navlink_container:hover {
  cursor: pointer;
}
.navlink {
  display: none;
}
.navbar {
  width: 100%;
  display: flex;
}
.navbar_item {
  font-size: 0.9rem;
  padding: 0 15px;
  list-style: none;
  transition: 0.3s;
  color: rgb(197, 194, 194);
}
.navbar_item:hover {
  color: rgb(239, 162, 38);
}
.apps {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: #191919;
     */
    background: linear-gradient(to bottom, #191919, #212121);
  }
}
@media screen and (max-width: 768px) {
  .navlink {
    display: block;
    font-size: 1.5rem;
  }
  .apps {
    display: block;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    color: #535353;
    transition: 0.3s;
  }
  .apps:hover {
    cursor: pointer;
    font-size: 1.6rem;
  }
  .show_menu {
    bottom: -100px;
    display: none;
    transition: 0.3s;
  }
  .navbar_container {
    position: fixed;
    bottom: 50px;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: #191919;
    padding: 2em 0em 4em 0em;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .navbar_container a {
    padding-top: 5px;
    font-size: 0.8rem;
  }
  .navbar {
    margin-left: -1.25em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .navbar_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navlink_container {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .navbar {
    width: 100%;
    margin-left: -2.5em;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .navlink {
    font-size: 1rem;
  }
  .navbar_container a {
    font-size: 0.6rem;
  }
  .navbar_container {
    width: 100%;
    bottom: 50px;
    height: 270px;
  }
}
