.container__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #111; */
}
.about {
  background-color: #111;
  margin: 3em 0em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.section {
  padding: 0px 10px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
}
.about__left-section {
  width: 55%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
}
.about__right-section {
  width: 45%;
  height: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__desc {
  height: auto;
  width: 100%;
  border-radius: 15px;
  /* background-color: #212121; */
  padding: 30px 0px;
}
.about__title {
  font-size: 1.5rem;
  padding-top: 10px;
}
.about__description {
  margin-top: -10px;
  color: darkgray;
  font-size: 0.8rem;
}
.swiper__slide,
.swiper {
  width: 100%;
  height: auto;
}

.item__image {
  border-radius: 10px;
  width: 100%;
}
.about__button {
  font-weight: bold;
  color: rgb(233, 173, 83);
  /* width: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__scroll-tombol {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 0.8rem;
  animation: icon infinite 0.3s ease;
}
.button__scroll-desc {
  margin-top: 30px;
  text-align: center;
  width: 400px;
  font-size: 0.8rem;
}
.button__scroll-desc:hover {
  color: rgb(232, 147, 20);
}
.button__scroll-icon {
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 10px 10px 10px 0px;
  color: rgb(233, 173, 83);
  border: 1px solid rgb(233, 173, 83);
  font-size: 1rem;
  transition: 0.3s;
}
.button__scroll-icon:hover {
  transform: translateX(5px);
  color: white;
  background-color: rgb(232, 147, 20);
}

@media screen and (max-width: 960px) {
  .about__left-section,
  .about__right-section {
    padding: 0;
  }
  .section {
    padding: 0em 1em;
  }
  /* .section__desc {
    padding: 1em;
  } */
}
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .button__scroll-icon {
    margin-bottom: 2em;
  }
  .about__left-section {
    order: 1;
    width: 100%;
    padding: 0em 1em;
  }
  .about__right-section {
    margin: 10px 0px 30px 0px;
    padding: 0;
    order: 2;
    width: 100%;
  }
  .about__title,
  .about__right-section {
    padding: 0em 1em;
  }
}
