.container {
  width: 100%;
  height: auto;
  /* margin: 100px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  width: 100%;
  height: auto;
  background-color: #111111;
  border-radius: 20px;
  display: flex;
  padding: 10px;
}

.about__left-section {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
}
.about__right-section {
  width: 50%;
  height: auto;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  font-size: 1.5rem;
}
.about__description {
  margin-top: -10px;
  color: darkgray;
  font-size: 0.8rem;
}
.swiper {
  width: 100%;
  /* height: auto; */
}
.swiper__slide {
  width: 100%;
  /* height: auto; */
}
.item__image {
  border-radius: 10px;
  width: 100%;
}
.about__button {
  font-weight: bold;
  color: rgb(233, 173, 83);
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__scroll-tombol {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 0.8rem;
  animation: icon infinite 0.3s ease;
}

.button__scroll-desc {
  margin-top: 30px;
  text-align: center;
  width: 400px;
  font-size: 0.8rem;
}
.button__scroll-desc:hover {
  color: rgb(232, 147, 20);
}
.button__scroll-icon {
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 10px 10px 10px 0px;
  color: rgb(233, 173, 83);
  border: 1px solid rgb(233, 173, 83);
  font-size: 1rem;
  transition: 0.3s;
}
.button__scroll-icon:hover {
  transform: translateX(5px);
  color: white;
  background-color: rgb(232, 147, 20);
}
@keyframes icon {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
  0% {
    transform: translateY(-3px);
  }
}
@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .button__scroll-icon {
    margin-bottom: 2em;
  }
  .about__left-section {
    order: 1;
    width: 100%;
  }
  .about__right-section {
    order: 2;
    width: 100%;
    height: 500px;
  }
  .about__title,
  .about__right-section {
    padding: 0em 1em;
  }
}
