.container {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  width: 95%;
  background-color: #111111;
  border-radius: 20px;
  display: flex;
  padding: 50px 0px;
}
.about__left-section {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.about__right-section {
  width: 50%;
  height: auto;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .about__asking {
  display: flex;
  width: 500px;
  height: auto;
} */
.about__title {
  font-size: 1.5rem;
}
.about__description {
  margin-top: -10px;
  color: darkgray;
  font-size: 0.8rem;
}
.swiper__slide {
  width: 100%;
  /* padding: 1em 2em; */
}
.item__image {
  border-radius: 10px;
}
.about__button {
  /* text-align: center; */
  /* font-size: 0.8rem; */
  font-weight: bold;
  /* border-radius: 25px 25px 25px 25px; */
  color: rgb(233, 173, 83);
  /* margin-left: 10px; */
  /* border: 1px solid rgb(80, 80, 79); */
  /* margin-top: 30px; */
  width: 500px;
  /* padding: 0; */
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__scroll-tombol {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 0.8rem;
  animation: icon infinite 0.3s ease;
  /* border: 1px solid rgb(233, 173, 83);
  border-radius: 10px; */
}
.about__asking-desc {
  font-size: 0.8rem;
  font-weight: bold;
}
.button__scroll-desc {
  margin-top: 30px;
  font-size: 0.8rem;
}
.button__scroll-icon {
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 10px 10px 10px 0px;
  color: rgb(233, 173, 83);
  border: 1px solid rgb(233, 173, 83);
  font-size: 1rem;
  transition: 0.3s;
  /* animation: icon infinite 0.8s ease; */
}
.button__scroll-icon:hover {
  transform: translateX(5px);
  color: white;
  background-color: rgb(232, 147, 20);
}
@keyframes icon {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
  0% {
    transform: translateY(-3px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px 0px 100px 0px;
  }
  .section {
    flex-direction: column;
  }
  .about__left-section,
  .about__right-section {
    width: 100%;
  }
  .about__right-section {
    height: 500px;
  }
}
